body {
    background-color: #b3c5d7;
}

#topo-page {
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

#button-topo {
    border-radius: 25px;
    width: 130px;
    height: 50px;
    text-decoration: none;
    background-color: #f6ae2d;
    border-style: 1px solid;
}

a {
    text-decoration: none;
}

#tabela-centra {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
} 